<% layout('layout') -%>  

   <div class="container">
    <div class="row">
        <h1 class="text-center"><%= title %></h1>
        <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
            <form action="/secure/changepassword" method="post" class="form-horizontal" data-toggle="validator" role="form">
            <fieldset>
                <legend class="text-center">Change Password</legend>
                <div class="form-group">
                <label for="oldpassword" class="col-md-3 control-label">Old Password</label>
                <div class="col-md-9">
                    <input type="password" name="oldpassword" placeholder="old password" id="oldpassword" class="form-control" autofocus >
                    </div>
                </div>
                <div class="form-group">
                <label for="newpassword" class="col-md-3 control-label">New Password</label>
                <div class="col-md-9">
                    <input type="password" name="newpassword" placeholder="new password" id="newpassword" class="form-control">
                    </div>
                </div>
                <div class="form-group"> 
                <label for="newpasswordagain" class="col-md-3 control-label" >New Password (again)</label>
                <div class="col-md-9">
                    <input type="password" name="newpasswordagain" placeholder="new password" id="newpasswordagain" class="form-control" data-match="#newpassword" data-match-error="Both new passwords must match">
                    <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
                </fieldset>
            </form>
            </div>
        </div>
        </div>
    </div>
