<% layout('layout') -%> 


<div ng-app="StatusUpdateModule">
	<div ng-controller="StatusUpdateCtrl">
		<legend class="text-center">Node Status</legend>
		<div class="col-md-8" >Is Registered: {{result.data.isRegistered}}</div><div class="col-md-4"></div>
		<div ng-repeat="connection in result.data.connections">		
			<div class="col-md-8">Hub: {{connection.hub}} </div><div class="col-md-4"></div>
			<div class="col-md-8">Connection Active: {{connection.isConnectionActive}} </div><div class="col-md-4"></div>
			<div class="col-md-8">Session Active: {{connection.isSessionActive}}</div><div class="col-md-4"></div>	
			<div class="col-md-8">Message count in: {{connection.messageInCount}} </div><div class="col-md-4"></div>
			<div class="col-md-8">Message count out: {{connection.messageOutCount}}</div><div class="col-md-4"></div>
		</div>
	</div>
</div>
   
<script src='/javascripts/statusUpdateController.js' ></script>

