<% layout('layout') -%> 


   <div >
    <div >
		<legend class="text-center">Manage Node</legend>
		<div class="col-md-8" ><a href="/secure/register">Register Node</a></div><div class="col-md-4"></div>
		<div class="col-md-8" ><a href="/secure/changepassword">Change Password</a></div><div class="col-md-4"></div>
		<div class="col-md-8" ><a href="/secure/sendcommands">Send Commands</a></div><div class="col-md-4"></div>
	</div>
</div>

					

					  